/*Debut général*/
*{
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body{
    margin: 30px 30px 0 30px;
    height: 90vh;
    background-color : rgb(71, 71, 71);
    background-size : cover;    
    font-family : calibri ;
    color: white;
}
::-webkit-scrollbar{
    display: none;
}
::-webkit-scrollbar-track{
    background-color: #e7e6e6;
}
::-webkit-scrollbar-thumb{
    background: #479ec8;
    border-radius: 10px;
}
a{color: white;}


/*Fin général*/


/*Debut de navigation*/
h4, p{color:rgb(71, 71, 71) ;}
.navigation{
    display: flex;
    justify-content: space-between;
    background-color: rgb(101, 101, 101);
    text-align: center;
    border-radius: 10px;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    
}
.nav-bar li{
    padding: 30px;
    width: 75px;
}
.nav-bar #active{
    background-color: #479ec8;
    border-bottom: white 5px solid;
}
.nav-bar .last {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.name{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0;
    margin-left: 30px;
    font-size: 3em;
}
.navigation li,.name:hover{cursor: pointer;}
/*Fin de navigation*/



/*Debut du loisir*/

.loisir-section{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: 50%;
}
.loisir{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.loisir-section h3{
    font-size: 4em;
    margin: 100px 0 150px 0;
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 35s linear infinite;
}
@keyframes animate{
    0%{
        transform: perspective(1500px) rotateY(0deg);
    }
    100%{
        transform: perspective(1500px) rotateY(360deg);
    }
}
.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*90deg)) translateZ(300px);
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent, #0004);
}
.box span .box-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.box-child{
    display: flex;
    flex-direction: column;
}
.box span .box-child img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
}
.box span .box-child .box-text {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
}

.box .box-child:hover{
    cursor: pointer;
    background-color: white;
}

h4{font-size: 2em;}
/*Fin du loisir*/